/*font and body */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    background-color:#406882;
}


/* My site's tables */
table {
    border-collapse:collapse;
     border:2px solid green;
    padding:5px;
}


th {
    border:2px solid green;
    padding:5px;
}