/* Structure */
body {
     margin:10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:navy;
    background-color:papayawhip;
}



#content {
    
}

/*intro paragraph stuff*/
.intro {
    padding:5px;
    border:5px;
    color:papayawhip;
    background-color:navy;
}

/*headers and footer areas*/
header, footer, .main-area {
       padding: 5px;
       margin:10px 0px;
       background:red;
       border-radius: 5px;
       color:papayawhip;
}

/*assignment links*/
a {
    text-decoration: none;
    background-color:navy;
    color:papayawhip;
    padding:5px;
    border-radius:5px;
}

a:hover {
    background-color:navy;
    color:papayawhip;
}


/*trun the image into block level element to center it */
.pic-area img {
    display: block;
    margin:auto
    
}

/*boxes for assignments and screen shots*/
.pic-area {
    background:navy;
    border-radius: 7px;
    color:papayawhip;
    padding: 10px; 
}

.proj-area {
    background: navy;
    border-radius: 7px;
    color: papayawhip;
    padding: 10px;
    text-align: center;
}

.proj-area img {
    display: block;
    margin: auto;
}

.columns {
  display: flex;       /* or display: grid */
  gap: 1rem;           /* adjust the spacing here (e.g. 0.5rem for tiny) */
}

/* Navigation */

/* Typography */

h1, h2, footer {
    text-align: center;
}






/* phones */
@media screen and (min-width: 600px) {
  

}

/* tablets */
@media screen and (min-width: 768px) {
   header, footer, .main-area {
    width: 85%;
    margin:10px auto;
   }
   
   /* column*/
.columns {
    display:flex;
}

.pic-area {
    margin:0 10px 10px;
}


/*dimensions for pics*/

.one {
    flex:1;
}

.two {
    flex:2
}

.three {
    flex:3;
}

.four {
    flex:4;
}

}

/*laptop desktop */
@media screen and (min-width: 992px) {
   header, footer, .main-area {
    width: 70%;
   }

}

/* tvs and other big devices */
@media screen and (min-width: 1300px) {
   

}